server {
    listen 80 default_server;
    # Further documentation: http://nginx.org/en/docs/http/server_names.html
    server_name _;

    root {{ PROJECT_ROOT }}/{{ PROJECT_NAME }}/web;

    # Additional Assetic rules for eZ Publish 5.1 / 2013.4 and higher.
    ## Don't forget to run php app/console assetic:dump --env=prod
    ## and make sure to comment these out in DEV environment.
    #include ez_params.d/ez_prod_rewrite_params;

    # Cluster/streamed files rewrite rules. Enable on cluster with DFS as a binary data handler
    #rewrite "^/var/([^/]+/)?storage/images(-versioned)?/(.*)" "/app.php" break;
    #rewrite "^/var/([^/]+/)?cache/(texttoimage|public)/(.*)" "/index_cluster.php" break;

    # ez rewrite rules
    include ez_params.d/ez_legacy_rewrite_params;
    include ez_params.d/ez_rewrite_params;

    # Let's Encrypt support
    rewrite "^/.well-known/acme-challenge/(.*)" "/.well-known/acme-challenge/$1" break;

    # upload max size
    client_max_body_size 48m;

    # FPM fastcgi_read_timeout
    fastcgi_read_timeout 90s;

    location / {
        location ~ ^/app\.php(/|$) {
            include ez_params.d/ez_fastcgi_params;

            # FPM socket
            fastcgi_pass unix:/var/run/php/php{{ PROJECT_PHP_VERSION }}-fpm.sock;

            ## eZ Platform ENVIRONMENT variables, used for customizing app.php execution (not used by console commands)

            # Environment.
            # Possible values: "prod" and "dev" out-of-the-box, other values possible with proper configuration
            # Make sure to comment the "ez_params.d/ez_prod_rewrite_params" include above in dev.
            # Defaults to "prod" if omitted
            fastcgi_param SYMFONY_ENV dev;

            # Whether to use custom ClassLoader (autoloader) file
            # Needs to be a valid path relative to root web/ directory
            # Defaults to bootstrap.php.cache, or autoload.php in debug
            #fastcgi_param SYMFONY_CLASSLOADER_FILE "../app/autoload.php";

            # Whether to use debugging.
            # Possible values: 0 or 1
            # Defaults to 0 if omitted, unless SYMFONY_ENV is set to: "dev"
            #fastcgi_param SYMFONY_DEBUG "0";

            # Optional: Whether to use Symfony's builtin HTTP Caching Proxy.
            # Disable it if you are using an external reverse proxy (e.g. Varnish)
            # Possible values: 0 or 1
            # Defaults to 1 if omitted, unless SYMFONY_ENV is set to: "dev"
            #fastcgi_param SYMFONY_HTTP_CACHE "1";

            # Optional: Whether to use custom HTTP Cache class if SYMFONY_HTTP_CACHE is enabled
            # Value must be na autoloadable cache class
            # Defaults to "AppCache"
            #fastcgi_param SYMFONY_HTTP_CACHE_CLASS "\Vendor\Project\MyCache";

            # Optional: Defines the proxies to trust
            # Needed when using Varnish as proxy, if so disable SYMFONY_HTTP_CACHE.
            # Separate entries by a comma, example: "proxy1.example.com,proxy2.example.org"
            # Defaults to not be set if env value is omitted or empty
            #fastcgi_param SYMFONY_TRUSTED_PROXIES "127.0.0.1";
        }
    }

    # Custom logs
    access_log /var/log/nginx/{{ PROJECT_NAME }}-access.log;
    error_log  /var/log/nginx/{{ PROJECT_NAME }}-error.log notice;

    include ez_params.d/ez_server_params;
}
