// Our Backend - Assuming that web server is listening on port 80
// Replace the host to fit your setup
//
// For additional example see: doc/docker/entrypoint/varnish/parameters.vcl

backend ezplatform {
    .host = "{{ VARNISH_DEFAULT_BACKEND_HOST }}";
    .port = "{{ VARNISH_DEFAULT_BACKEND_PORT }}";
}

// ACL for invalidators IP
acl invalidators {
    "127.0.0.1";
    "{{ VARNISH_ADMIN_SUBNET }}"/{{ VARNISH_ADMIN_SUBNET_NETMASK }};
}

// ACL for debuggers IP
acl debuggers {
    "127.0.0.1";
    "{{ VARNISH_ADMIN_SUBNET }}"/{{ VARNISH_ADMIN_SUBNET_NETMASK }};
}